PORT=5000
NODE_ENV=development
JWT_SECRET=momena_khatun_model_academy_super_secure_jwt_secret_key_2026
JWT_EXPIRES_IN=7d
DB_PATH=database/momena_academy.db
SCHOOL_NAME="Momena Khatun Model Academy"
SCHOOL_NAME_BN="মোমেনা খাতুন মডেল একাডেমি"
SCHOOL_PHONE="01771-907474"
SCHOOL_ADDRESS="Jamirdia, Hobirbari-2240, Bhaluka, Mymensingh"
